body {
    background-color: #eee;
}

.container {
    min-height: 100vh;
}

.form {
  width: auto;
  margin: 0 auto;
}

.text-danger {
  font-weight: bold;
}

.message-with-error {
  display: none;
  margin-bottom: -30px;
}

.message-with-success {
  display: none;
  margin-bottom: -30px;
}